# **Breakout Room**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('/content/diabetes.csv')

In [3]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [5]:
data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [6]:
for column_name in data.columns:
  count = (data[column_name] == 0).sum()
  print(column_name,count)

Pregnancies 111
Glucose 5
BloodPressure 35
SkinThickness 227
Insulin 374
BMI 11
DiabetesPedigreeFunction 0
Age 0
Outcome 500

In [14]:
X=data.drop(['Outcome','Pregnancies'],axis=1)
z=data['Pregnancies']
y=data['Outcome']

In [15]:
for column_name in X.columns:
  column = X[column_name]
  column.replace(to_replace = 0, value = column.mean(), inplace=True)

In [16]:
X.head()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,148.0,72.0,35.000000,79.799479,33.6,0.627,50
1,85.0,66.0,29.000000,79.799479,26.6,0.351,31
2,183.0,64.0,20.536458,79.799479,23.3,0.672,32
3,89.0,66.0,23.000000,94.000000,28.1,0.167,21
4,137.0,40.0,35.000000,168.000000,43.1,2.288,33

In [19]:
X = X.join(z)

In [20]:
X.head()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Pregnancies
0,148.0,72.0,35.000000,79.799479,33.6,0.627,50,6
1,85.0,66.0,29.000000,79.799479,26.6,0.351,31,1
2,183.0,64.0,20.536458,79.799479,23.3,0.672,32,8
3,89.0,66.0,23.000000,94.000000,28.1,0.167,21,1
4,137.0,40.0,35.000000,168.000000,43.1,2.288,33,0

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# **DecisionTree**

In [24]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.683982683982684

# **Bagging**

In [23]:
from sklearn.ensemble import BaggingClassifier
bagging_clf = BaggingClassifier(base_estimator=DecisionTreeClassifier(), n_estimators=250, random_state=42) 
bagging_clf.fit(X_train, y_train)
y_pred = bagging_clf.predict(X_test)
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7662337662337663

# **RandomForest**

In [26]:
from sklearn.ensemble import RandomForestClassifier
rf1_clf = RandomForestClassifier(random_state=42, n_estimators=200)
rf1_clf.fit(X_train, y_train)
y_pred = rf1_clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7532467532467533

#**SVC**

In [27]:
from sklearn.svm import SVC
bagging_clf = BaggingClassifier(base_estimator=SVC(), n_estimators=100, random_state=42)
bagging_clf.fit(X_train, y_train)
y_pred = bagging_clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7359307359307359

#**Adabooster**

In [28]:
from sklearn.ensemble import AdaBoostClassifier

ada_boost_clf = AdaBoostClassifier(n_estimators=40)
ada_boost_clf.fit(X_train, y_train)
y_pred = ada_boost_clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7575757575757576

# **KNN**

In [32]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
knn_classifier = KNeighborsClassifier(n_neighbors = 8, metric = 'minkowski', p = 2)
knn_classifier.fit(X_train, y_train)
y_pred = knn_classifier.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
print(cm)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

[[123  28]
 [ 38  42]]
Accuracy: 0.7142857142857143

# **Naivebias**

In [33]:
from sklearn.naive_bayes import GaussianNB
nb_classifier = GaussianNB()
nb_classifier.fit(X_train, y_train)
y_pred = knn_classifier.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7142857142857143

# **LogisticRegression**

In [35]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [36]:
from sklearn.linear_model import LogisticRegression
logic_classifier = LogisticRegression(random_state = 0)
logic_classifier.fit(X_train, y_train)
y_pred = logic_classifier.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
print(cm)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

[[127  24]
 [ 33  47]]
Accuracy: 0.7532467532467533