## Importing Libraries

In [1]:
import pandas as pd
import numpy as np

## Loading titanic.csv file

In [2]:
df = pd.read_csv('titanic.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

## Selecting 'Pclass','SibSp','Parch','Fare' columns as data and ‘Survived’ column as label

In [5]:
X = df[['Pclass','SibSp','Parch','Fare']]
y = df.Survived

In [6]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   SibSp   891 non-null    int64
 2   Parch   891 non-null    int64
 3   Fare    891 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 28.0 KB

In [7]:
pd.DataFrame(y).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
dtypes: int64(1)
memory usage: 7.1 KB

In [8]:
y.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

## **Logistic regression**

In [10]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

### **K-Fold Cross Validation to generalise the model accuracy**

In [11]:
from sklearn.model_selection import cross_val_score,KFold
model = LogisticRegression()
kf=KFold(n_splits=10)
score=cross_val_score(model,X,y,cv=kf)
print("Cross Validation Scores are {}".format(score))

Cross Validation Scores are [0.58888889 0.66292135 0.71910112 0.61797753 0.69662921 0.6741573
 0.70786517 0.70786517 0.74157303 0.75280899]

In [12]:
print("Average Cross Validation score :{}".format(score.mean()))

Average Cross Validation score :0.6869787765293383

## **KNN**

In [13]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
knn_classifier = KNeighborsClassifier(n_neighbors = 7, metric = 'minkowski', p = 2)
knn_classifier.fit(X_train, y_train)
y_pred = knn_classifier.predict(X_test)
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6188340807174888

### **K-Fold Cross Validation to generalise the model accuracy**

In [14]:
knn = KNeighborsClassifier()
kf1=KFold(n_splits=10)
score=cross_val_score(knn,X,y,cv=kf1)
print("Cross Validation Scores are {}".format(score))

Cross Validation Scores are [0.64444444 0.60674157 0.59550562 0.60674157 0.66292135 0.75280899
 0.69662921 0.70786517 0.68539326 0.74157303]

In [15]:
print("Average Cross Validation score :{}".format(score.mean()))

Average Cross Validation score :0.6700624219725343

# **SVM**

In [16]:
from sklearn.svm import SVC  
clf = SVC(kernel='linear') 
clf.fit(X_train,y_train) 
y_pred = clf.predict(X_test)

### **K-Fold Cross Validation to generalise the model accuracy**

In [17]:
svm = SVC()
kf3=KFold(n_splits=10)
score=cross_val_score(svm,X,y,cv=kf3)
print("Cross Validation Scores are {}".format(score))

Cross Validation Scores are [0.57777778 0.68539326 0.66292135 0.6741573  0.64044944 0.70786517
 0.65168539 0.71910112 0.73033708 0.68539326]

In [18]:
print("Average Cross Validation score :{}".format(score.mean()))

Average Cross Validation score :0.6735081148564295

## **DecisionTree**

In [19]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier()
tree.fit(X_train,y_train)
y_pred=tree.predict(X_test)

### **K-Fold Cross Validation to generalise the model accuracy**

In [20]:
tree = DecisionTreeClassifier()
kfd=KFold(n_splits=10)
score=cross_val_score(tree,X,y,cv=kfd)
print("Cross Validation Scores for decision trees are {}".format(score))

Cross Validation Scores for decision trees are [0.66666667 0.68539326 0.66292135 0.56179775 0.64044944 0.78651685
 0.65168539 0.73033708 0.75280899 0.71910112]

In [21]:
print("Average Cross Validation score for decision tree:{}".format(score.mean()))

Average Cross Validation score for decision tree:0.6857677902621723

## **Random Forest**

In [22]:
from sklearn.ensemble import RandomForestClassifier
rf_clf = RandomForestClassifier(random_state=42, n_estimators=100)
rf_clf.fit(X_train, y_train)
y_pred = rf_clf.predict(X_test)

### **K-Fold Cross Validation to generalise the model accuracy**

In [23]:
rf_clf = RandomForestClassifier(random_state=42, n_estimators=100)
r_kf=KFold(n_splits=10)
score=cross_val_score(tree,X,y,cv=r_kf)
print("Cross Validation Scores for Random forest are {}".format(score))

Cross Validation Scores for Random forest are [0.66666667 0.68539326 0.6741573  0.57303371 0.61797753 0.78651685
 0.65168539 0.71910112 0.75280899 0.70786517]

In [24]:
print("Average Cross Validation score for Random forest:{}".format(score.mean()))

Average Cross Validation score for Random forest:0.6835205992509363

# **Grid search**

In [25]:
parameters ={'C': [0.1, 1, 10, 100, 1000],
'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
'kernel': ['rbf']}

In [26]:
from sklearn.model_selection import GridSearchCV

In [28]:
from sklearn.svm import SVC
grid_search = GridSearchCV(
    estimator=SVC(),
    param_grid=parameters, 
    cv=5,
    scoring='accuracy',
    n_jobs=-1)

In [29]:
SVC().get_params().keys()

dict_keys(['C', 'break_ties', 'cache_size', 'class_weight', 'coef0', 'decision_function_shape', 'degree', 'gamma', 'kernel', 'max_iter', 'probability', 'random_state', 'shrinking', 'tol', 'verbose'])

In [30]:
grid_result= grid_search.fit(X_train, y_train)

In [31]:
print('Best Params: ', grid_result.best_params_)
print('Best Score: ', grid_result.best_score_)

Best Params:  {'C': 1, 'gamma': 1, 'kernel': 'rbf'}
Best Score:  0.7244865896083492